p.call_to_action{
    line-height:44px;
}

.loading{
    background: url(../img/hourglass.svg);
    position: absolute;
    left: 50%;
    z-index: 99;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.repositorios-itens {
    margin-top: 10px;
    margin-bottom: 10px;
}

.infos {
    border-bottom: 1px solid #ddd;
}

.item-info .glyphicon {
    margin-right: 5px;
    margin-bottom: 10px;
}

footer.footer {
    margin-top: 100px;
    padding: 10px;
}